.homePage {
  height: 98vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainBox {
  background-color: #888;
  cursor: pointer;
}

.mainBox:hover {
  opacity: 1;
  transition: opacity 2s;
}

.bottomBoxes {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.aboutBox {
  width: 100%;
  height: 50%;
  background-image: url("../Images/MyLogo.jpg");
  background-size: 100% 150%;
  background-position: center;
  opacity: 0.65;
  transition: opacity 2s;
}

.projectsBox {
  width: 60%;
  height: 100%;
  background-image: url("../Images/ProjectsIcon.jpg");
  background-size: 100% 100%;
  opacity: 0.65;
  transition: opacity 2s;
}

.contactsBox {
  width: 40%;
  height: 100%;
  background-image: url("../Images/ContactsIcon.jpg");
  background-size: 100% 100%;
  background-position-y: 10px;
  opacity: 0.65;
  transition: opacity 2s;
}

.title {
  font-size: 24px;
}

@media only screen and (max-width: 490px) {
  .homePage {
    height: 100vh;
  }
  .aboutBox,
  .contactsBox,
  .projectsBox {
    opacity: 1;
    width: 100%;
  }
  .aboutBox {
    height: 33.3%;
  }
  .bottomBoxes {
    flex-direction: column;
    height: 66.6%;
    width: 100%;
  }
  .contactsBox,
  .projectsBox {
    height: 50%;
  }
  .title {
    display: none;
  }
}
