.mainButton {
  width: 140px;
  height: 260px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-left: 1200px;
  cursor: pointer;
}

.scrolled {
  position: fixed;
}

.upButton,
.downButton {
  width: 75%;
  height: 37.5%;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease-in-out;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 60%;
}

.upButton:hover,
.downButton:hover {
  background-color: #8ec9bb;
  transition: 1s ease-in-out;
}

.upButton {
  background-image: url("../Images/Arrow.png");
  transform: rotate(-90deg);
}

.downButton {
  background-image: url("../Images/Arrow.png");
  transform: rotate(90deg);
}

.upButton::before {
  transform: rotate(90deg);
}

.downButton::before {
  transform: rotate(-90deg);
}

@media only screen and (max-width: 768px) {
  .mainButton {
    display: none;
  }
}
