@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Sora:wght@686&family=Sriracha&display=swap");
.App {
  height: auto;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif, monospace;
  color: #ffffff;
}
