.contacts {
  width: 100vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  background-color: #e8a87c;
}

.contactTitle {
  width: 100%;
  height: 25%;
}

.mainContact {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.contactDivs {
  width: 100%;
  height: 30%;
  display: flex;
}

.contactDivs p {
  align-self: center;
  font-size: 24px;
}

.contactIcon {
  width: 20%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10%;
}

.contactIcon:hover {
  animation: Shake 2s infinite;
}

.email {
  background-image: url("../Images/EmailIcon.png");
  background-size: 60% 100%;
}

.linkedin {
  background-image: url("../Images/LinkedIn.png");
  background-size: 60% 80%;
}

.github {
  background-image: url("../Images/Github.png");
  background-size: 60% 90%;
}

a {
  color: #fff;
}

a:hover {
  text-shadow: 2px 2px #888;
}
a:active {
  color: #fff;
}

@keyframes Shake {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 1080px) {
  .mainContact {
    height: 50%;
    margin-top: 120px;
  }
}

@media only screen and (max-width: 882px) {
  #contactTitle {
    font-size: 88px;
  }
}

@media only screen and (max-width: 577px) {
  #contactTitle {
    font-size: 66px;
  }
  .mainContact {
    margin-top: 100px;
  }
  .email {
    background-size: 40% 80%;
  }
  .linkedin {
    background-size: 40% 60%;
  }
  .github {
    background-size: 60% 70%;
    margin-left: 80px;
  }
  .contactDivs p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 490px) {
  .contacts {
    height: 35vh;
  }
  .contactTitle {
    height: 10%;
    margin-bottom: -50px;
  }
  #contactTitle {
    font-size: 24px;
  }
  .mainContact {
    height: 90%;
  }
  .contactIcon {
    display: none;
  }
  .contactDivs p {
    font-size: 18px;
    margin: 0px 0px 0px 10px;
  }
  .linkedin {
    background-size: 40% 70%;
  }
  .github {
    background-size: 90% 90%;
    margin-right: 25px;
  }
}

@media only screen and (max-width: 384px) {
  #contactTitle {
    font-size: 20px;
  }
  .contactDivs p {
    font-size: 14px;
  }
}
